Package: com.tallplay.velvet3
Name: Velvet 3
Version: 3.0.0
Architecture: iphoneos-arm64
Description: A fully customizable notification experience. iOS 17/18 fork of NoisyFlake's Velvet 2.
Maintainer: tallplay
Author: NoisyFlake (original), tallplay (iOS 18 fork)
Section: Tweaks
Depends: firmware (>= 15.0), ellekit | mobilesubstrate, preferenceloader
Conflicts: com.initwithframe.velvet, com.noisyflake.velvet2
Replaces: com.noisyflake.velvet2
