{
	items = (
		{
			cell = PSGroupCell;
		},
		{
			cell = PSSwitchCell;
			cellClass = Velvet3Switch;
			cellSubtitleText = "Use a custom date color";
			default = 1;
			defaults = "com.tallplay.velvet3";
			key = dateEnabled;
			label = "Enable Date";
			systemIcon = "power";
		},
		{
			cell = PSGroupCell;
			label = "Type";
			require = "dateEnabled";
		},
		{
			cell = PSDefaultCell;
			cellClass = Velvet3AppearanceCell;
			options = (
				{
					text = "Icon Color";
					value = "icon";
					systemIcon = "wand.and.stars";
				},
				{
					text = "Static Color";
					value = "color";
					systemIcon = "eyedropper";
				},
				{
					text = "Gradient";
					value = "gradient";
					systemIcon = "humidity.fill";
				},
			);
			defaults = "com.tallplay.velvet3";
			key = "dateType";
			height = 130;
			require = "dateEnabled";
		},
		{
			cell = PSGroupCell;
			label = "Options";
			require = "dateEnabled";
		},
		{
			cell = PSSliderCell;
			cellClass = Velvet3Slider;
			defaults = "com.tallplay.velvet3";
			key = dateIconAlpha;
			min = 0;
			max = 100;
			showValue = 1;
			require = "dateEnabled&dateType=icon";
			label = "Opacity";
			systemIcon = "eye";
		},
		{
			cell = PSLinkCell;
			defaults = "com.tallplay.velvet3";
			cellClass = Velvet3ColorPicker;
			key = "dateColor";
			label = "Color";
			require = "dateEnabled&dateType=color";
			systemIcon = "drop.circle";
		},
		{
			cell = PSLinkListCell;
			cellClass = "Velvet3LinkCell";
			defaults = "com.tallplay.velvet3";
			key = "dateGradientDirection";
			detail = PSListItemsController;
			label = "Gradient Direction";
			validValues = ("cornerTop", "right", "bottom", "cornerBottom");
			validTitles = ("\U2197", "\U2192", "\U2193", "\U2198");
			require = "dateEnabled&dateType=gradient";
			systemIcon = "arrow.left.arrow.right";
		},
		{
			cell = PSLinkCell;
			defaults = "com.tallplay.velvet3";
			cellClass = Velvet3ColorPicker;
			key = "dateGradient1";
			label = "Color 1";
			require = "dateEnabled&dateType=gradient";
			systemIcon = "drop.circle";
		},
		{
			cell = PSLinkCell;
			defaults = "com.tallplay.velvet3";
			cellClass = Velvet3ColorPicker;
			key = "dateGradient2";
			label = "Color 2";
			require = "dateEnabled&dateType=gradient";
			systemIcon = "drop.circle";
		},
	);
	title = "Date";
}