{
	items = (
		{
			cell = PSGroupCell;
		},
		{
			cell = PSSwitchCell;
			cellClass = Velvet3Switch;
			cellSubtitleText = "Use a custom background color";
			default = 1;
			defaults = "com.tallplay.velvet3";
			key = backgroundEnabled;
			label = "Enable Background";
			systemIcon = "power";
		},
		{
			cell = PSGroupCell;
			label = "Type";
			require = "backgroundEnabled";
		},
		{
			cell = PSDefaultCell;
			cellClass = Velvet3AppearanceCell;
			options = (
				{
					text = "Icon Color";
					value = "icon";
					systemIcon = "wand.and.stars";
				},
				{
					text = "Static Color";
					value = "color";
					systemIcon = "eyedropper";
				},
				{
					text = "Gradient";
					value = "gradient";
					systemIcon = "humidity.fill";
				},
			);
			defaults = "com.tallplay.velvet3";
			key = "backgroundType";
			height = 130;
			require = "backgroundEnabled";
		},
		{
			cell = PSGroupCell;
			label = "Options";
			require = "backgroundEnabled";
		},
		{
			cell = PSSliderCell;
			cellClass = Velvet3Slider;
			defaults = "com.tallplay.velvet3";
			key = backgroundIconAlpha;
			min = 0;
			max = 100;
			showValue = 1;
			require = "backgroundEnabled&backgroundType=icon";
			label = "Opacity";
			systemIcon = "eye";
		},
		{
			cell = PSLinkCell;
			defaults = "com.tallplay.velvet3";
			cellClass = Velvet3ColorPicker;
			key = "backgroundColor";
			label = "Color";
			require = "backgroundEnabled&backgroundType=color";
			systemIcon = "drop.circle";
		},
		{
			cell = PSLinkListCell;
			cellClass = "Velvet3LinkCell";
			defaults = "com.tallplay.velvet3";
			key = "backgroundGradientDirection";
			detail = PSListItemsController;
			label = "Gradient Direction";
			validValues = ("cornerTop", "right", "bottom", "cornerBottom");
			validTitles = ("\U2197", "\U2192", "\U2193", "\U2198");
			require = "backgroundEnabled&backgroundType=gradient";
			systemIcon = "arrow.left.arrow.right";
		},
		{
			cell = PSLinkCell;
			defaults = "com.tallplay.velvet3";
			cellClass = Velvet3ColorPicker;
			key = "backgroundGradient1";
			label = "Color 1";
			require = "backgroundEnabled&backgroundType=gradient";
			systemIcon = "drop.circle";
		},
		{
			cell = PSLinkCell;
			defaults = "com.tallplay.velvet3";
			cellClass = Velvet3ColorPicker;
			key = "backgroundGradient2";
			label = "Color 2";
			require = "backgroundEnabled&backgroundType=gradient";
			systemIcon = "drop.circle";
		},
		{
			cell = PSGroupCell;
			label = "Misc.";
			footerText = "This option disables the Glow feature";
		},
		{
			cell = PSSwitchCell;
			cellClass = Velvet3Switch;
			cellSubtitleText = "Removes the background blur";
			default = 1;
			defaults = "com.tallplay.velvet3";
			key = backgroundBlurHidden;
			label = "Hide Background Blur";
			systemIcon = "square.dashed";
		},
	);
	title = "Background";
}