{
	items = (
		{
			cell = PSGroupCell;
			label = "Appearance";
		},
		{
			cell = PSDefaultCell;
			cellClass = Velvet3AppearanceCell;
			options = (
				{
					text = "System";
					value = "default";
					systemIcon = "circle.righthalf.filled";
				},
				{
					text = "Light";
					value = "light";
					systemIcon = "sun.max";
				},
				{
					text = "Dark";
					value = "dark";
					systemIcon = "moon.stars";
				}
			);
			defaults = "com.tallplay.velvet3";
			key = "appearance";
			height = 120;
		},
		{
			cell = PSGroupCell;
			label = "Surface";
		},
		{
			cell = PSLinkCell;
			cellClass = Velvet3LinkCell;
			isController = 1;
			detail = Velvet3CustomizationController;
			key = "Background";
			label = "Background";
			systemIcon = "rectangle.fill";
		},
		{
			cell = PSLinkCell;
			cellClass = Velvet3LinkCell;
			isController = 1;
			detail = Velvet3CustomizationController;
			key = "Border";
			label = "Border";
			systemIcon = "rectangle";
		},
		{
			cell = PSLinkCell;
			cellClass = Velvet3LinkCell;
			isController = 1;
			detail = Velvet3CustomizationController;
			key = "Line";
			label = "Line";
			systemIcon = "line.horizontal.star.fill.line.horizontal";
		},
		{
			cell = PSLinkCell;
			cellClass = Velvet3LinkCell;
			isController = 1;
			detail = Velvet3CustomizationController;
			key = "Shadow";
			label = "Glow";
			systemIcon = "sparkles";
		},
		{
			cell = PSGroupCell;
			label = "Label";
		},
		{
			cell = PSLinkCell;
			cellClass = Velvet3LinkCell;
			isController = 1;
			detail = Velvet3CustomizationController;
			key = "Title";
			label = "Title";
			systemIcon = "character.bubble";
		},
		{
			cell = PSLinkCell;
			cellClass = Velvet3LinkCell;
			isController = 1;
			detail = Velvet3CustomizationController;
			key = "Message";
			label = "Message";
			systemIcon = "text.bubble";
		},
		{
			cell = PSLinkCell;
			cellClass = Velvet3LinkCell;
			isController = 1;
			detail = Velvet3CustomizationController;
			key = "Date";
			label = "Date";
			systemIcon = "calendar";
		},
		{
			cell = PSGroupCell;
			label = "App Icon";
		},
		{
			cell = PSSwitchCell;
			cellClass = Velvet3Switch;
			cellSubtitleText = "Don't display any icon";
			default = 0;
			defaults = "com.tallplay.velvet3";
			key = appIconHidden;
			label = "Hide App Icon";
			systemIcon = "square.slash";
        },
		{
			cell = PSSwitchCell;
			cellClass = Velvet3Switch;
			cellSubtitleText = "Display app icon as a circle";
			default = 0;
			defaults = "com.tallplay.velvet3";
			key = appIconCornerRadiusCircle;
			label = "Round App Icon";
			systemIcon = "circle.square";
			require = "!appIconHidden";
        },
		{
			cell = PSGroupCell;
			label = "Extras";
		},
		{
			cell = PSSwitchCell;
			cellClass = Velvet3Switch;
			cellSubtitleText = "Custom background corner radius";
			default = 1;
			defaults = "com.tallplay.velvet3";
			key = cornerRadiusEnabled;
			label = "Corner Radius";
			systemIcon = "rectangle.roundedtop";
        },
		{
			cell = PSSliderCell;
			cellClass = Velvet3Slider;
			defaults = "com.tallplay.velvet3";
			key = cornerRadiusCustom;
			min = 0;
			max = 60;
			showValue = 1;
			require="cornerRadiusEnabled";
		},
		{
			cell = PSGroupCell;
			require = "cornerRadiusEnabled";
		},
		{
			cell = PSSwitchCell;
			cellClass = Velvet3Switch;
			cellSubtitleText = "Don't dim notifications in a stack";
			default = 0;
			defaults = "com.tallplay.velvet3";
			key = stackDimmingViewHidden;
			label = "No Stack Dimming";
			systemIcon = "rectangle.stack";
        }
	);
	title = "Global Settings";
}